# === Python bytecode ===
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# === Environment & virtualenv ===
venv/
env/
.env

# === Jupyter and VSCode ===
.ipynb_checkpoints/
.vscode/

# === Logs & misc ===
*.log
*.sqlite3
*.db
*.DS_Store

# === Python tooling ===
dist/
build/
*.egg-info/
.eggs/
pip-wheel-metadata/
*.spec

# === IDEs ===
.idea/
*.iml

# === Playwright ===
playwright-report/
test-results/
