langchain
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
langchain-google-community
langchain-chroma
langchain-huggingface
langgraph
langgraph-prebuilt
sentence-transformers
chromadb
pandas
pymupdf
openpyxl
unstructured
msoffcrypto-tool
pillow
pypdf
flask
playwright
pyngrok
python-dotenv
grandalf
