langchain==0.3.27
langchain-core==0.3.72
langchain-community==0.3.27
langchain-experimental==0.3.4
langchain-nvidia-ai-endpoints==0.3.12
langchain-google-community==2.0.7
langchain-chroma==0.2.5
langchain-huggingface==0.3.1
langgraph==0.5.4
langgraph-prebuilt==0.5.2
sentence-transformers==5.0.0
chromadb==1.0.15
pandas==2.3.1
pymupdf==1.26.3
openpyxl==3.1.5
unstructured==0.18.11
msoffcrypto-tool==5.4.2
pillow==11.3.0
pypdf==5.8.0
flask==3.1.1
Flask[async]
playwright==1.54.0
pyngrok==7.2.12
python-dotenv==1.1.1
grandalf==0.8
nvidia-ml-py
