langchain
langchain-core
langchain-community
langchain-nvidia-ai-endpoints
langchain-google-community
langchain-chroma
langchain-huggingface
langgraph
langgraph-prebuilt
chromadb
pymupdf
openpyxl
unstructured
msoffcrypto-tool
pillow
pypdf
flask
playwright
pyngrok
