<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Invoice Agent</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
</head>
<body>
    <div class="container">
      <h1>🧾 Agent Factures</h1>
        
      <div id="chatArea" class="chat-area"></div>
    </div>

        <form id="chatForm" method="POST" enctype="multipart/form-data" class="chat-input">
            <div id="previewContainer" class="image-preview"></div>
            <textarea id="query" name="query" placeholder="Posez votre question..." required></textarea>
            <input id="pdf" type="file" name="pdf" accept=".pdf, .jpg, .jpeg, .png, .webp" multiple/>
            <button type="submit" id="submitBtn">Analyser</button>
        </form>


    <script src="{{ url_for('static', filename='js/fetch_response.js') }}"></script>
</body>
</html>

